.popup{
    font-size: 1.1em;
}

.close-modal-contain{
    display: flex;
    justify-content: right;
}

.close-modal{
    box-sizing: border-box;
    right: 0;
    width: 30px;
    color: red;
    cursor: pointer;
}

.username{
    text-transform: capitalize;
}

.meta-infos{
    margin: 1em 0;
}

.mesures{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em 2em;
}

.mesure-cell{
    text-align: left;
}

.data{
    color: var(--primary-color);
    font-style: italic;
}

.data.notes{
    font-size: .7em;
    color: lightgray;
    letter-spacing: 1.1px;
}

.mesure-cell .data{
    margin-left: 5px;
    font-weight: bolder;
}

.separate-client-data{
        margin: 1.2em 0;
    border: solid 1px var(--primary-color);
    background-color: var(--primary-color);
}