/* #m */
#modal-portal:has(.facture-modal-container){
    display: flex;
    place-items: start;
}

.facture-itself{
    /* position: absolute; */
    /* display: grid; */
    margin-left: auto;
    margin-right: auto;
    place-self: center;
    /* width: 60%; */
    /* height: 100%; */
    background-color: white;
    color: black;
    padding: 3em;    
}

.facture-part{
    margin-bottom: 2em;
}

#logo{
    width: 6em;
}

.header-desc{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.header-desc *{
    margin: 0;
}

.header-facture{
    display: flex;
    place-items: center;
    gap: 1em;
}

.client-facture{
    text-align: left;
    /* background-color: red; */
}

.client-info{
    margin: .7em 0;
}

.text-container{
    margin-bottom: 4em;
}

.text-container.toute-lettres{
    text-align: left;
}

.text-container.director{
    text-align: right;
}

.text-container.director p{
    margin-right: 4em;
}

.export{
    /* position: absolute; */
    color: var(--primary-color);
    padding: 1em 2em;
    border: none;
    outline: none;
    border: 1px solid var(--primary-color);
    margin: 1em 0;
    cursor: pointer;
    user-select: none;
    transition: .2s ease-in;
    font-weight: bolder;
}

.export:hover{
    letter-spacing: 1px;
    border-radius: 1px;
}

.close-modal-contain.in-facture{
    top: 1em;
    right: 1em;
    position: absolute;
}

.facture-table-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.facture-table-row.facture-table-body .table-cell{
    background-color: transparent;
    padding: 10px;
}

.facture-table-header.facture-table-row{
    font-weight: 800;
    color: white;
}

.facture-table-body .table-cell{
    font-weight: 200;
    border-left: solid 2px var(--secondary-color);
}

.facture-table-body .table-cell:last-child{
    border-right: solid 2px var(--secondary-color);

}

.facture-table-row.facture-table-body .table-cell{
    border-bottom: solid 2px var(--secondary-color);
}

.facture-table-header.facture-table-row.ignore-style .table-cell{
    background-color: white;
    color: black;
    border-bottom: solid 2px var(--secondary-color);
}

.facture-table-header.facture-table-row.ignore-style .table-cell:first-child{
    border-left: solid 2px var(--secondary-color);
}

.facture-table-header.facture-table-row.ignore-style .table-cell:last-child{
    border-right: solid 2px var(--secondary-color);
}

.underline{
    font-weight: bold;
    text-decoration: underline;
}

.boldit{
    font-weight: 600;
}

.client-info .actual-info{
    border-bottom: dotted;
    letter-spacing: .05em;
}

#logo.override-facture-logo{
    width: 70%;
    padding-left: 1em;
}

.facture-header-container{
    position: relative;
    display: grid;
    /* background-color: red; */
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.facture-header-container-side:nth-of-type(2){
    position: relative;
    background: blue;
    background-image: url('../assets/motifs_bg.png');
    background-size: cover;
    width: 90%;
    display: grid;
    place-content: center;
    place-items: center;
}

.facture-header-container-side:nth-of-type(1){
    /* display: grid; */
    /* place-items: center; */
    font-size: 1.3em;
}

.facture-header-container-side .infos-container{
    position: absolute;
    display: grid;
    place-items: center;
    color: white;
    background-color: black;
    width: 90%;
    padding: .5em 0;
}

.facture-header-container-side .infos-container h1{
    margin-bottom: 0;
}

.facture-header-container-side .infos-container p{
    margin-bottom: 3em;
    font-weight: lighter;
}

.grayit{
    background-color: rgba(128, 128, 128, 0.51);
}
