/* #m */
#modal-portal:has(.facture-modal-container){
    display: flex;
    place-items: start;
}

.facture-itself{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    background-color: white;
    color: black;
    padding: 1em;
}

.facture-part{
    margin-bottom: .5em;
}

#logo{
    width: 6em;
}

.header-desc{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.header-desc *{
    margin: 0;
}

.header-facture{
    padding: 0 2em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: left;
    place-items: baseline;
    gap: 1em;
    /* background: red; */
    /* justify-content: */
}

.client-facture{
    text-align: left;
    /* background-color: red; */
}

.client-info{
    margin: .7em 0;
}

.text-container{
    margin-bottom: 4em;
}

.text-container.toute-lettres{
    text-align: left;
}

.text-container.director{
    text-align: right;
}

.text-container.director p{
    margin-right: 4em;
}

.export{
    /* position: absolute; */
    color: var(--primary-color);
    padding: 1em 2em;
    border: none;
    outline: none;
    border: 1px solid var(--primary-color);
    margin: 1em 0;
    cursor: pointer;
    user-select: none;
    transition: .2s ease-in;
    font-weight: bolder;
}

.export:hover{
    letter-spacing: 1px;
    border-radius: 1px;
}

.close-modal-contain.in-facture{
    top: 1em;
    right: 1em;
    position: absolute;
}

.facture-table-row{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
}

.facture-table-row.facture-table-body .table-cell{
    background-color: transparent;
    padding: 10px;
}

.facture-table-header.facture-table-row{
    font-weight: 800;
    color: white;
}

.facture-table-body .table-cell:first-child{
    border: none;
}

.facture-table-body .table-cell{
    font-weight: 200;
    border-left: solid 2px var(--secondary-color);
}

/* .facture-table-body .table-cell:last-child{ */
    /* border-right: solid 2px var(--secondary-color); */

/* } */

.facture-table-row.facture-table-body .table-cell{
    border-bottom: solid 2px var(--secondary-color);
}

.facture-table-header.facture-table-row.ignore-style .table-cell{
    background-color: white;
    color: black;
    padding: 2px;
    font-weight: normal;
    border-bottom: solid 2px var(--secondary-color);
}

.facture-table-header.facture-table-row.ignore-style .table-cell.bold-cell{
    font-weight: bold;
}

.facture-table-header.facture-table-row.ignore-style .table-cell{
    /* border-left: solid 2px var(--secondary-color); */
    border: none;
    /* border-right: solid 2px black; */
}

.facture-table-header.facture-table-row.ignore-style .table-cell:nth-child(3){
    border-right: solid 2px var(--secondary-color);
    margin: 4px 0;
}

.facture-table-header.facture-table-row.ignore-style .table-cell:last-child{
    /* border-right: solid 2px var(--secondary-color); */
    border-bottom: solid 2px var(--secondary-color);
    /* border-left: solid 2px var(--secondary-color); */
    /* margin: 2px; */
}

.underline{
    font-weight: bold;
    text-decoration: underline;
}

.boldit{
    font-weight: 600;
}

.drop-h1-margin{
    margin: 0;
    color: gray;
}

.dot-it{
    /* background: red; */
    border-bottom: dashed 2px var(--secondary-color);
}

#logo.facture-override-logo{
    width: 8em;
}

/* .facture-header-section{ */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-items: center; */
/* } */

.facture-header-section .client-infos .client-info-inline{
    font-size: 1.2em;
}

.facture-part.pay-part{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.pay-part-title{
    margin: 0 0 2px 0;
    /* text-align: center; */
}

.pay-div{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
}

.pay-div span:first-child{
    text-align: right;
}

.pay-div span:last-child{
    text-align: left;
    /* color:red; */
}

.facture-part.social-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-item{
    margin: 0 1em;
    display: flex;
}

.facture-logo-container{
    display: flex;
    justify-content: center;
}