
.facture-itself.override{
    font-size: 1.1em;
}

.header-facture.facture-part.override{
    display: flex;
    /* background-color: red; */
    justify-content: center;
    margin-bottom: 1em;
}

.header-facture.facture-part.override #logo{
    width: 7em;
}

.body-facture.facture-part.override{
    display: grid;
    justify-content: center;
}

.mesures.override .mesure-cell .data{
    color: var(--secondary-color-variant);
}